<% @body_id = 'product-details' %>
<h1><%= @product.name %></h1>
<%
if @product.images.empty?
      @lightbox_image = "/images/noimage/product.jpg"
else
      @lightbox_image = @product.images.first.attachment.url(:large)  
end
%>
<script type="text/javascript">
$(function() {
	$('#main-image a').lightBox(); // Select all links in object with gallery ID
});
</script>

<div id="product-images">
  <div id="main-image">
    <a href="<%=@lightbox_image%>"><%= render 'image' -%></a>
  </div>
    (Click to enlarge image.)
  <div id="thumbnails">
    <%= render 'thumbnails', :product => @product -%>
  </div>
</div>

<div id="product-description">
  <%= product_description(@product) rescue t("product_has_no_description") %>
  <%= render 'properties' %>
</div>

<div id="cart-form">
  <%= render 'cart_form' %>
</div>

<%= render 'taxons' %>

